name: Test

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [20, 22]
        ts-version: ["5.0", "5.4", "5.8"]
        ts-eslint-version: [8]
        eslint-version: [8, 9]
        flat-config: ["true", ""]
        exclude:
          - eslint-version: 8
            flat-config: "true"

    steps:
      - uses: actions/checkout@v6
      - uses: actions/cache@v5
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}
      - run: npm ci
      - run: npm run build
      - run: npm run lint
      - run: |
          npm install -D typescript@${{ matrix.ts-version }} \
            eslint@${{ matrix.eslint-version }} \
            @typescript-eslint/eslint-plugin@${{ matrix.ts-eslint-version }} \
            @typescript-eslint/parser@${{ matrix.ts-eslint-version }} \
            @typescript-eslint/typescript-estree@${{ matrix.ts-eslint-version }} \
            @typescript-eslint/utils@${{ matrix.ts-eslint-version }} \
            --legacy-peer-deps
      # Rebuild after installing different TypeScript versions to ensure compatibility
      - run: npm run build
      - run: npm test
        env:
          TEST_FLAT_CONFIG: ${{ matrix.flat-config }}
