name: Test

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [16, 18, 20]
        npm-version: [9]
        ts-version: ["4.4", "5.0", "5.1"]
        ts-eslint-version: [5, 6]
    steps:
      - uses: actions/checkout@v3
      - uses: actions/cache@v3
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
      - run: npm i -g npm@${{ matrix.npm-version }}
      - run: npm ci
      - run: npm run build
      - run: npm run lint
      - run: |
          npm install -D typescript@${{ matrix.ts-version }} \
            @typescript-eslint/eslint-plugin@${{ matrix.ts-eslint-version }} \
            @typescript-eslint/parser@${{ matrix.ts-eslint-version }} \
            @typescript-eslint/parser@${{ matrix.ts-eslint-version }} \
            @typescript-eslint/parser@${{ matrix.ts-eslint-version }}
      - run: npm test
